{% load verbatim %}

{% verbatim %}
<script type="text/html" id="activities">
    <div id="steps-table">
        <div class="table-row header">
            <div class="activity-container">&nbsp;</div>
            {{#dates}}
                <div class="date-left-container">{{.}}</div>
            {{/dates}}
        </div>

        <div id="steps"></div>
        <div class="activity-container">
            <label for="new-step">New step</label> <input type="text" name="step" id="new-step"/>
        </div>
    </div>
</script>
{% endverbatim %}