{% load verbatim %}

<script type="text/javascript">
    $(function() {
        function areDatesEqual(activityCompleteDates, displayedDate) {
            return displayedDate in activityCompleteDates;
        }
    });
</script>

{% verbatim %}
    <script type="text/html" id="activity">
        <div class="table-row">
            <div class="activity-content activity-container"><strong>{{ name }}</strong>
                <span class="delete-activity">Delete</span>
            </div>
            <div class="activity-edit activity-container">
                <input type="text" class="activity-input"/>
            </div>

            {{#displayedDatesInActivityContext}}
            <div class="date-left-container">
                {{^isComplete}}<input type="checkbox" class="activity-done" id="{{ name }}-{{date}}" />{{/isComplete}}
                {{#isComplete}}<input type="checkbox" class="activity-done" checked="checked" id="{{ name }}-{{date}}" />{{/isComplete}}
            </div>
            {{/displayedDatesInActivityContext}}

        </div>
    </script>
{% endverbatim %}