{% extends "base.html" %}

{% block content %}
    <div id="steps-list">
        <ul id="steps"></ul>
        <label for="new-step">New step</label> <input type="text" name="step" id="new-step"/>
        <a href="#activities">Show previously saved activities</a>
    </div>

    <script type="text/javascript" src="/site_media/js/collections/activities.js"></script>
    <script type="text/javascript" src="/site_media/js/views/activity_view.js"></script>
    <script type="text/javascript" src="/site_media/js/views/activities_view.js"></script>
    <script type="text/javascript" src="/site_media/js/routers/main_router.js"></script>

    <script type="text/javascript">

        $(function() {
            var SimpleStepsListApp = {
                Models: {},
                Collections: {},
                Views: {},
                Routers: {},

                init: function() {
                    this.setupRouters();
                    this.setupCollections();
                },

                setupRouters: function() {
                    this.Routers.Main = new MainRouter;
                },

                setupCollections: function() {
                    this.Collections.Activities = new Activities;
                }
            };

            SimpleStepsListApp.init();
            Backbone.history.start();
        });

    </script>

{% endblock %}
