#steps-table {
    margin: 0.5em 12px;
    padding: 0;
    text-align: center;
    width: auto;
}

.table-row {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 96%;
    height: 50px;
}

.header {
    font-size: 24px;
    padding: 0 15px;
}

.activity-container {
    float: left;
    margin: 0;
    padding: 0;
    width: 35%;
    text-align: left;
}

.date-left-container {
    float: left;
    margin: 0;
    padding: 0;
    width: 12%;
}

.activity {
    font-size: 24px;
    width: 250px;
}

.activity .activity-edit {
    display: none;
}

.editing .activity-edit {
    display: block;
}

.editing .activity-edit input {
    border: 1px solid #999999;
    font-size: 24px;
    line-height: 1.4em;
    outline: medium none;
    padding: 6px;
}

.activity input.error {
    border: 2px solid #ff0000;
}

.editing div.activity-content {
    display: none;
}

.activity span.delete-activity {
    display: none;
}

.activity:hover span.delete-activity {
    display: inline;
}
